<div class="dialog-wrapper">
  <h2 mat-dialog-title class="dialog-title">Add subject</h2>

  <mat-dialog-content>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Subject Name</mat-label>
      <input matInput [(ngModel)]="subjectName" name="subjectName" (keyup.enter)="addSubject()" />
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions >
    <button mat-button mat-dialog-close>Close</button>
    <button mat-stroked-button color="primary" (click)="addSubject()" mat-dialog-close>Add</button>
  </mat-dialog-actions>
</div>
