<h2 mat-dialog-title style="margin-top: 20px;"><span>Roll no:</span>{{userData.rollno}}</h2>
<h2 mat-dialog-title><span>studentname:</span>{{userData.name}}</h2>
<mat-dialog-content>
  
     <div *ngFor="let each of subArray" style="display: flex; align-items: center;gap: 40px;">
        <div>
             <mat-form-field>
  <mat-label>{{each}}</mat-label>
  <input matInput  [value]="userData[each]" #val>
</mat-form-field>
         
        </div>
        <div>
           <button mat-flat-button color="primary" (click)="onSaveEdit(each,val)" mat-dialog-close>Update</button>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>

</mat-dialog-actions>